<div class="container" id="projects">
    <div class="content text text-start">
        <h1>Projects</h1>
        <h2 class="name">Here are some of my Projects</h2>
        <hr class="mainhr">
        <!-- <div class="d-flex"> -->

        <div class="container maincontent">
            <div class="card-group">
                <div class="card mx-2">
                    <img src="../../assets/image/CodeReview5.png" class="card-img-top" alt="Animal Website">
                    <div class="card-body">
                        <h5 class="card-title">Animal Website</h5>
                        <p class="card-text main-text">This website uses TypeScript and JSON.</p>
                    </div>
                    <a href="https://github.com/Sven99M/FE15-CR5-SvenMoser" class="btn button" target="blank">See on Github</a>

                </div>
                <div class="card mx-2">
                    <img src="../../assets/image/CodeReview4.png" class="card-img-top" alt="Weekly Planner">
                    <div class="card-body">
                        <h5 class="card-title">Weekly Planner</h5>
                        <p class="card-text main-text">This website uses has a sort function and uses JavaScript.</p>
                    </div>
                    <a href="https://github.com/Sven99M/-FE15-CR4-SvenMoser" class="btn button" target="blank">See on Github</a>

                </div>
                <div class="card mx-2">
                    <img src="../../assets/image/CodeReview3.png" class="card-img-top" alt="Concert Website">
                    <div class="card-body">
                        <h5 class="card-title">Concert Website</h5>
                        <p class="card-text main-text">This website uses JavaScript.</p>
                    </div>
                    <a href="https://github.com/Sven99M/-FE15-CR3-SvenMoser" class="btn button" target="blank">See on Github</a>

                </div>
            </div>
        </div>
    </div>
</div>