<app-navbar>
</app-navbar>
<div class="section container ">
    <app-home></app-home>

</div>
<div class="section container" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2000">
    <app-about></app-about>

</div>
<div class="section container" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2000">
    <app-projects></app-projects>

</div>
<div class="section container" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2000">
    <app-contact></app-contact>

</div>
<app-footer></app-footer>