<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section>
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/sven_archive/" role="button" target="blank"><i class="bi bi-instagram"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Sven99M" role="button" target="blank"><i class="bi bi-github"></i></a>


        </section>
        <!-- Section: Social media -->

    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Sven M. &copy; Wien 2022
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->