<div class="container" id="contact">
    <div class="content text text-start">
        <h1>Contact</h1>
        <h2 class="name">Contact Information</h2>
        <hr class="mainhr">
        <!-- <div class="d-flex"> -->

        <div class="container maincontent">
            <p class="main-text">
                Sven Moser <br>Front-End-Developer<br><br>
                <i class="bi bi-telephone"></i> : 0650 81 207 38<br>
                <i class="bi bi-envelope"></i> : sven.mo99ser&commat;gmail.com<br>
                <i class="bi bi-geo"></i> : Vienna, Austria<br><br> For more Information visit my socials. :)
            </p>
        </div>
    </div>
</div>