<div class="container" id="about">
    <div class="content text text-start">
        <h1>About me</h1>
        <h2 class="name">Personal Information</h2>
        <hr class="mainhr">
        <!-- <div class="d-flex"> -->

        <div class="container maincontent">
            <div class="row">
                <div class=" col-lg-4 col-md-7 col-sm-12">
                    <img src="../../assets/image/coding.png" alt="Sven Moser" title="Sven Moser" class="image-fluid pb mx-5">
                </div>
                <div class="col-lg-6  col-md-5 mx-5">
                    <p class="main-text">
                        I recently graduated a Front-End-Developer Course. The Course included for example HTML, CSS, JavaScript, TypeScript and many more topics. Since I have graduated as a Media Technician before this course I have a lot of experience about working on projects
                        for a longer time alone as well as in a team of three or four people. As a Media Technician i can also provide a good knowledge for Design, I also have good experience with Print Poducts, Video Cutting and Photography. If you would
                        like to know more please click on the button below to see my CV.
                    </p>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <button type="button" class="btn button"><a href="../../assets/files/Lebenslauf_Moser.pdf"
            download>Download CV</a></button>
    </div>
</div>