<div class="container" id="home">
    <div class="content text text-start">
        <h1>Hey :) <br>take a look <br>at my <br>portfolio</h1>
        <h2 class="name">Sven Moser</h2>
        <hr class="homehr">
        <!-- <div class="d-flex"> -->
        <div class="container w-75 homecontent">
            <div class="row">
                <div class="content-text col-lg-8  col-md-7 col-sm-12">
                    I am 22 years old and currently looking for a job as a Front-End-Webdeveloper. On this Webiste I would like to tell you a bit more about me and show you some of my recent projects I worked on alone or with team members. If you want to know more about
                    me take a look at my GitHub profile.</div>
                <div class="col-lg-4  col-md-5"><img src="../../assets/image/ProfilePicture.jpg" alt="Sven Moser" title="Sven Moser" class="image-fluid pb mx-5"></div>
            </div>
        </div>
        <!-- </div> -->
        <button type="button" class="btn button"><a href="https://github.com/Sven99M">GitHub</a></button>
    </div>
</div>